<h1>Pages#contact</h1>
<p> Contact me via: <%= number_to_phone "0968847234" %></p>
<p>My Capital worth is: <%= number_to_currency "5000000" %></p>
<p>The use of ActionView, built-in, helper methods <%= number_with_delimiter "12345654234564" %></p>
